@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/wyp3msi.css");

* {
  /* color: white; */
}

.background-mike_racecar {
  background-color: black;
  background-image: url("/mike_racecar.jpg");
  background-attachment: fixed;
	background-size: cover;
}

.background-carbon_fiber {
  background-color: black;
  background-image: url("/i.jpg");
  background-attachment: fixed;
	background-size: cover;
}

.background-ss1 {
  background-color: black;
  background-image: url("/1.jpg");
  background-attachment: fixed;
	background-size: cover;
}

.bg-gradient {
  position: absolute;
  background-color: black;
  @apply w-screen h-full z-10;
  opacity: 50%;
}

html {
  background-color: black;
}

.acumin {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222222;
	border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

#eT3pruG2zLq6_to {animation: eT3pruG2zLq6_to__to 1200ms linear 1 normal forwards}@keyframes eT3pruG2zLq6_to__to { 0% {transform: translate(-454.791px,-159.891px)} 25% {transform: translate(-454.791px,-159.891px);animation-timing-function: cubic-bezier(0.42,0,0.11,1.02)} 50% {transform: translate(-537.726288px,157.585155px)} 100% {transform: translate(-537.726288px,157.585155px)}} #eT3pruG2zLq8_to {animation: eT3pruG2zLq8_to__to 1200ms linear 1 normal forwards}@keyframes eT3pruG2zLq8_to__to { 0% {transform: translate(-579.763px,-159.891px)} 50% {transform: translate(-579.763px,-159.891px);animation-timing-function: cubic-bezier(0.42,0,0.11,1.02)} 75% {transform: translate(-658.755144px,157.585155px)} 100% {transform: translate(-658.755144px,157.585155px)}} #eT3pruG2zLq10_to {animation: eT3pruG2zLq10_to__to 1200ms linear 1 normal forwards}@keyframes eT3pruG2zLq10_to__to { 0% {transform: translate(-699.949px,-159.891px)} 75% {transform: translate(-699.949px,-159.891px);animation-timing-function: cubic-bezier(0.42,0,0.11,1.02)} 100% {transform: translate(-778.519273px,157.585155px)}} #eT3pruG2zLq12_to {animation: eT3pruG2zLq12_to__to 1200ms linear 1 normal forwards}@keyframes eT3pruG2zLq12_to__to { 0% {transform: translate(-211.744px,-162.533px);animation-timing-function: cubic-bezier(0.42,0,0.11,1.02)} 25% {transform: translate(-300.773448px,152.3013px)} 100% {transform: translate(-300.773448px,152.3013px)}}

.fade-out {
  animation: fadeOut 0.5s forwards;
}   

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}

.cta-button {
  color: white;
  border: 2px solid white;
  font: inherit;
  line-height: 1;
  padding: .75em 1.25em;
  transition: all;
  transition-duration: 0.4s;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
}

.cta-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: white;
  transition: right 0.4s ease-in-out;
}

.cta-button:hover {
  color: black;
}

.cta-button:hover::after {
  right: 0;
  transition: right 0.4s ease-in-out;
}

.link {
  position: relative;
  text-decoration: none;
}

.link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.alert-body-inner > a {
	@apply font-bold link;
}

/***************************************************
 * Generated by SVG Artista on 4/18/2023, 10:56:06 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-stroke-1{0%{stroke-dashoffset:801.780517578125px;stroke-dasharray:801.780517578125px}100%{stroke-dashoffset:0;stroke-dasharray:801.780517578125px}}@keyframes animate-svg-stroke-1{0%{stroke-dashoffset:801.780517578125px;stroke-dasharray:801.780517578125px}100%{stroke-dashoffset:0;stroke-dasharray:801.780517578125px}}@-webkit-keyframes animate-svg-fill-1{0%{fill:transparent}100%{fill:rgb(255,209,0)}}@keyframes animate-svg-fill-1{0%{fill:transparent}100%{fill:rgb(255,209,0)}}.svg-elem-1{-webkit-animation:animate-svg-stroke-1 1s cubic-bezier(0.47,0,0.745,0.715) 2s both,animate-svg-fill-1 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.8s both;animation:animate-svg-stroke-1 1s cubic-bezier(0.47,0,0.745,0.715) 2s both,animate-svg-fill-1 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.8s both}@-webkit-keyframes animate-svg-stroke-2{0%{stroke-dashoffset:810.2860107421875px;stroke-dasharray:810.2860107421875px}100%{stroke-dashoffset:0;stroke-dasharray:810.2860107421875px}}@keyframes animate-svg-stroke-2{0%{stroke-dashoffset:810.2860107421875px;stroke-dasharray:810.2860107421875px}100%{stroke-dashoffset:0;stroke-dasharray:810.2860107421875px}}@-webkit-keyframes animate-svg-fill-2{0%{fill:transparent}100%{fill:rgb(255,131,0)}}@keyframes animate-svg-fill-2{0%{fill:transparent}100%{fill:rgb(255,131,0)}}.svg-elem-2{-webkit-animation:animate-svg-stroke-2 1s cubic-bezier(0.47,0,0.745,0.715) 2.12s both,animate-svg-fill-2 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.9s both;animation:animate-svg-stroke-2 1s cubic-bezier(0.47,0,0.745,0.715) 2.12s both,animate-svg-fill-2 0.7s cubic-bezier(0.47,0,0.745,0.715) 2.9s both}@-webkit-keyframes animate-svg-stroke-3{0%{stroke-dashoffset:793.2432250976562px;stroke-dasharray:793.2432250976562px}100%{stroke-dashoffset:0;stroke-dasharray:793.2432250976562px}}@keyframes animate-svg-stroke-3{0%{stroke-dashoffset:793.2432250976562px;stroke-dasharray:793.2432250976562px}100%{stroke-dashoffset:0;stroke-dasharray:793.2432250976562px}}@-webkit-keyframes animate-svg-fill-3{0%{fill:transparent}100%{fill:rgb(255,18,18)}}@keyframes animate-svg-fill-3{0%{fill:transparent}100%{fill:rgb(255,18,18)}}.svg-elem-3{-webkit-animation:animate-svg-stroke-3 1s cubic-bezier(0.47,0,0.745,0.715) 2.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.47,0,0.745,0.715) 3s both;animation:animate-svg-stroke-3 1s cubic-bezier(0.47,0,0.745,0.715) 2.24s both,animate-svg-fill-3 0.7s cubic-bezier(0.47,0,0.745,0.715) 3s both}@-webkit-keyframes animate-svg-stroke-4{0%{stroke-dashoffset:2116.4130859375px;stroke-dasharray:2116.4130859375px}100%{stroke-dashoffset:0;stroke-dasharray:2116.4130859375px}}@keyframes animate-svg-stroke-4{0%{stroke-dashoffset:2116.4130859375px;stroke-dasharray:2116.4130859375px}100%{stroke-dashoffset:0;stroke-dasharray:2116.4130859375px}}@-webkit-keyframes animate-svg-fill-4{0%{fill:transparent}100%{fill:rgb(255,255,255)}}@keyframes animate-svg-fill-4{0%{fill:transparent}100%{fill:rgb(255,255,255)}}.svg-elem-4{-webkit-animation:animate-svg-stroke-4 1s cubic-bezier(0.47,0,0.745,0.715) 2.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.0999999999999996s both;animation:animate-svg-stroke-4 1s cubic-bezier(0.47,0,0.745,0.715) 2.36s both,animate-svg-fill-4 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.0999999999999996s both}@-webkit-keyframes animate-svg-stroke-5{0%{stroke-dashoffset:2192px;stroke-dasharray:2192px}100%{stroke-dashoffset:0;stroke-dasharray:2192px}}@keyframes animate-svg-stroke-5{0%{stroke-dashoffset:2192px;stroke-dasharray:2192px}100%{stroke-dashoffset:0;stroke-dasharray:2192px}}@-webkit-keyframes animate-svg-fill-5{0%{fill:transparent}100%{fill:rgb(255,255,255)}}@keyframes animate-svg-fill-5{0%{fill:transparent}100%{fill:rgb(255,255,255)}}.svg-elem-5{-webkit-animation:animate-svg-stroke-5 1s cubic-bezier(0.47,0,0.745,0.715) 2.48s both,animate-svg-fill-5 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.1999999999999997s both;animation:animate-svg-stroke-5 1s cubic-bezier(0.47,0,0.745,0.715) 2.48s both,animate-svg-fill-5 0.7s cubic-bezier(0.47,0,0.745,0.715) 3.1999999999999997s both}